body {
	background-color: #b7d1c4
}

p{ 
    color:blue;
} 

.bigAndBlue{ 
    font-size: 20px; 
    color: blue; 
} 

#redParagraph{ 
    color: red; 
}

img {
	height: 170px;
	width: 170px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;

}
